html {
    background-color: var(--green-2);
   

}

// media query
$bigLaptop: 1600px;
$tablet: 700px;
$phone: 520px;
$smallPhone: 420px;

html {
    font-size: 62.5%;

    @media only screen and (max-width: $bigLaptop) {
        font-size: 61%;
    }

    @media only screen and (max-width: $tablet) {
        font-size: 58%;
    }

    @media only screen and (max-width: $phone) {
        font-size: 56%;
    }
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;


    .login-box {
    background-color: var(--grey-1);
    padding: 2rem;
    border-radius: 20px;
    width: 60rem;

    @media only screen and (max-width: $bigLaptop) {
        width: 58rem;
    }

    @media only screen and (max-width: $tablet) {
        width: 52rem;
    }

    @media only screen and (max-width: $tablet) {
        width: 48rem;
    }

    @media only screen and (max-width: $phone) {
        width: 40rem;
    }

    @media only screen and (max-width: $smallPhone) {
        width: 30rem;
    }
    
    .logo-div {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 12rem;

        @media only screen and (max-width: $phone) {
            width: 10rem;
        }

        @media only screen and (max-width: $smallPhone) {
            width: 8rem;
        }
    }

    &-inputs {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        
        padding: 2.5rem 6rem;

        @media only screen and (max-width: $phone) {
            padding: 2.5rem 2.5rem;
        }

        @media only screen and (max-width: $smallPhone) {
            padding: 3rem 1rem;

        }


        input {
            padding: 1.3rem;
            font-size: 1.8rem;
            border: none;
            border-left: 5px solid var(--logo-color);
            margin-bottom: 2.5rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

            
         @media only screen and (max-width: $bigLaptop) {
            font-size: 1.6rem;
        }

        @media only screen and (max-width: $phone) {
            font-size: 1.4rem;
        }

        
  
        }

        .login-btn {
            padding: 1rem;
            background-color: var(--orange-1);
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--white);
            border: none;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

            @media only screen and (max-width: $phone) {
                font-size: 1.6rem;
            }

            @media only screen and (max-width: $smallPhone) {
                font-size: 1.4rem;
                padding: 0.8rem;
            }

            &:hover {
                cursor: pointer;
                background-color: var(--black);
                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
                transition: 0.2s all;
            }
            
        }

        label {
            margin-bottom: 1rem;
            font-weight: 600;
            font-size: 1.8rem;

            @media only screen and (max-width: $phone) {
                font-size: 1.6rem;
            }

            @media only screen and (max-width: $smallPhone) {
                font-size: 1.4rem;
            }
        }

        
        // REMEMBER ME & FORGOT PASSWORD
        .form-options {
            display: flex;
            justify-content: space-between;

            .forgot-pass:link, .forgot-pass:visited {
                text-decoration: none;
                font-weight: 600;
                font-size: 1.8rem;
                color: var(--orange-1);

                @media only screen and (max-width: $bigLaptop) {
                    font-size: 1.6rem;
                }

                @media only screen and (max-width: $phone) {
                    font-size: 1.4rem;
                }

                @media only screen and (max-width: $smallPhone) {
                    font-size: 1.2rem;
                }

               

                &:hover {
                    color: var(--black);
                    transition: 0.3s all;
                }
            }

            .remember-label {
           
                display: flex;
                gap: 0.6rem;
                
    
                p {
                    margin-bottom: 0;
                    font-weight: 500;
                    cursor: pointer;
                    font-size: 1.8rem;

                    @media only screen and (max-width: $bigLaptop) {
                        font-size: 1.6rem;
                    }

                    @media only screen and (max-width: $phone) {
                        font-size: 1.4rem;
                    }

                    @media only screen and (max-width: $smallPhone) {
                        font-size: 1.2rem;
                    }
    
    
                }
    
                .remember-me {
                   height: 2rem;
                   width: 2rem;

                   @media only screen and (max-width: $phone) {
                    height: 1.8rem;
                    width: 1.8rem;
                }

                @media only screen and (max-width: $smallPhone) {
                    height: 1.4rem;
                    width: 1.4rem;
                }

                }

               
            }
        }

        

    }
    
    }
}